.space10 {
    margin-left: 10px;
}

.thum-photo{
    border: 1px solid #ddd; /* Gray border */
      border-radius: 4px;  /* Rounded border */
      padding: 5px; /* Some padding */
      width: 210px; /* Set a small width */
    margin-top: 25px;
}

.qr {
    margin-left: 10px;
    width: 165px;
    height: 165px;
}

